body {
  font-family: monospace;
}

.game-config {
  display: flex;
  justify-content: space-between;
  width: 520px;
  margin: auto;
}

input {
  &[type=number] {
    width: 40px;
  }
  &[type=button] {
    background-color: white;
    border: 1px solid slategrey;
    border-radius: 2px;
  }
}

#grid {
  display: flex;
  margin: auto;
  width: fit-content;
  margin-top: 32px;
  border-top: 1px solid black;
  border-left: 1px solid black;

  .col {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    min-width: 25px;
    min-height: 25px;
    cursor: pointer;

    &:not(.dig) {
      background-color: lightgrey;
    }
  }
}
